/* :root {
    --primary: #90d2d8;
    --secondary: #b7e0dc;
    --third: #c2f2d0;
    --fourth: #abe9b8;
    --fifth: #ffecb8;
}

.App {
    text-align: center;
    background-color: var(--third);
    height: 100vh;
}

.App-link {
    color: #09d3ac;
} */
